<a href="https://colab.research.google.com/github/NolanniLB/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/NB_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####
import pandas as pd
import numpy as np

In [2]:
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-03-15 15:23:37--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [          <=>       ]  21.71M  1.86MB/s    in 12s

2020-03-15 15:23:54 (1.79 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22763850]

In [4]:
! unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [5]:
# Load data in
# In order to read code I added header, skipfooter, and engine
LoanStats_df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')
LoanStats_df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [6]:
LoanStats_df.term

0          60 months
1          36 months
2          36 months
3          60 months
4          60 months
             ...
128279     36 months
128280     36 months
128281     36 months
128282     36 months
128283     36 months
Name: term, Length: 128284, dtype: object

In [0]:
ex_term = '60 months'

In [8]:
LoanStats_df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'debt_settlement_flag', 'debt_settlement_flag_date',
       'settlement_status', 'settlement_date', 'settlement_amount',
       'settlement_percentage', 'settlement_term'],
      dtype='object', length=144)

In [0]:
# define the function first
def myfunc(cell_contents):
  return float(cell_contents.strip().strip('months'))

In [10]:
#then cast to a float
myfunc(ex_term)

60.0

In [11]:
type(myfunc(ex_term))

float

In [0]:
new_list = []

In [0]:
for cell in LoanStats_df['term']:
  new_list.append(myfunc(cell))

In [14]:
new_list[:10]

[60.0, 36.0, 36.0, 60.0, 60.0, 36.0, 60.0, 36.0, 36.0, 36.0]

In [15]:
#compare to old list
list(LoanStats_df['term'][:10])

[' 60 months',
 ' 36 months',
 ' 36 months',
 ' 60 months',
 ' 60 months',
 ' 36 months',
 ' 60 months',
 ' 36 months',
 ' 36 months',
 ' 36 months']

In [0]:
# I looked at notes and tried with and without : but both give this error
# I added () after the name to get it to work
def loan_status_is_great():
  if isinstance(loan_status, 'current','fully paid'):
    return 1
  else:
    return 0

In [26]:
mylist = []
for loan_status in LoanStats_df:
  mylist.append(loan_status_is_great())
mylist

TypeError: ignored

In [24]:
LoanStats_df[['loan_status', 'loan_status_is_great']]

KeyError: ignored

In [18]:
#looking at last_pymnt_d
LoanStats_df['last_pymnt_d'].head()

0    May-2019
1    Feb-2020
2    Feb-2019
3    Oct-2019
4    Feb-2020
Name: last_pymnt_d, dtype: object

In [20]:
#make a new column for new format
#fxd = fixed data
LoanStats_df['fxd_last_pymnt_d']= pd.to_datetime(LoanStats_df['last_pymnt_d'], infer_datetime_format=True)
LoanStats_df[['last_pymnt_d', 'fxd_last_pymnt_d']]

       last_pymnt_d fxd_last_pymnt_d
0          May-2019       2019-05-01
1          Feb-2020       2020-02-01
2          Feb-2019       2019-02-01
3          Oct-2019       2019-10-01
4          Feb-2020       2020-02-01
...             ...              ...
128279     Dec-2018       2018-12-01
128280     Feb-2020       2020-02-01
128281     Feb-2020       2020-02-01
128282     Feb-2020       2020-02-01
128283     Feb-2020       2020-02-01

[128284 rows x 2 columns]

In [30]:
# Then add month and year
LoanStats_df['fxd_last_pymnt_d_year'] = LoanStats_df['fxd_last_pymnt_d'].dt.year
LoanStats_df[['last_pymnt_d', 'fxd_last_pymnt_d', 'fxd_last_pymnt_d_year']]

       last_pymnt_d fxd_last_pymnt_d  fxd_last_pymnt_d_year
0          May-2019       2019-05-01                 2019.0
1          Feb-2020       2020-02-01                 2020.0
2          Feb-2019       2019-02-01                 2019.0
3          Oct-2019       2019-10-01                 2019.0
4          Feb-2020       2020-02-01                 2020.0
...             ...              ...                    ...
128279     Dec-2018       2018-12-01                 2018.0
128280     Feb-2020       2020-02-01                 2020.0
128281     Feb-2020       2020-02-01                 2020.0
128282     Feb-2020       2020-02-01                 2020.0
128283     Feb-2020       2020-02-01                 2020.0

[128284 rows x 3 columns]

In [31]:
LoanStats_df['fxd_last_pymnt_d_month'] = LoanStats_df['fxd_last_pymnt_d'].dt.month
LoanStats_df[['last_pymnt_d', 'fxd_last_pymnt_d', 'fxd_last_pymnt_d_year', 'fxd_last_pymnt_d_month']]

       last_pymnt_d  ... fxd_last_pymnt_d_month
0          May-2019  ...                    5.0
1          Feb-2020  ...                    2.0
2          Feb-2019  ...                    2.0
3          Oct-2019  ...                   10.0
4          Feb-2020  ...                    2.0
...             ...  ...                    ...
128279     Dec-2018  ...                   12.0
128280     Feb-2020  ...                    2.0
128281     Feb-2020  ...                    2.0
128282     Feb-2020  ...                    2.0
128283     Feb-2020  ...                    2.0

[128284 rows x 4 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01